@charset "utf-8";

/********Actionbox**********/
body  { background:#efefef;font-family: 'Open Sans', sans-serif;}	

#wrap{margin:0 auto;padding:0; }
#box {  background:#efefef; text-align: center; }	
#box h2{text-align: center;}

form div{padding:10px 0;}
/**#registrationForm {padding: 5px}**/
#registrationForm input{
    padding:10px;
    border:1px solid ##6C6C6C;
    font-size:14px;
    width:86%; margin-bottom:10px;
}
#registrationForm button {
    font-size:14px; 
    padding:10px 20px;
    font-weight: bold;
    border:1px solid #828282; 
    background:#C70003; 
    color:#fff; 
    min-width: auto; }
#registrationForm button:hover { background:#D90205;}	

#registrationForm select {padding: 10px;width: 90%;margin-bottom:10px; font-size: 14px;}