@charset "utf-8";

/* CSS Document */

body {font-size: 14px;line-height: 1.5;font-family: 'Ubuntu700', sans-serif;color:#333;padding:0;margin:0;background:#252525;}
html{padding:0;margin:0;border:0;}
#wrapper{padding:0;width:100%;margin:0 auto;position:relative;display: block;}
#main{background:url("img/bg.jpg") top center no-repeat;height:auto;}

#wrap_inner{width:1199px; margin:0 auto;}
#inner{margin:0 auto;width:1011px;}

#logobox{display: block;position:relative;height: 82px;}
#logo{background:#551213;padding:15px 20px 15px 200em;left:-200em; display: inline-block;position: absolute;margin-top: 35px;border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0;}

h1{font-size:9em;display: block;text-align: center;color: #f0a202; line-height: 1;text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;}
span.h1span{font-size:0.85em;}
/*registration button*/
.register{text-align: center;padding-bottom: 30px;}
.register button{width:266px;background:#f0a202;border:1px solid #fff;font-size:40px;color:#fff;cursor:pointer;padding:3px 10px;}
/*registration order*/
.howto{height:130px; background:url("img/howto.png")bottom center no-repeat;}
.howto p{visibility: hidden;}
/*footer*/
footer{padding:40px 0; color:#fff; font-family: 'Open Sans', sans-serif; font-size:15px; text-align: center;}
footer p{width:80%;margin:0 auto;padding:10px 0;}
footer ul{margin:10px 0;display: block;}
footer li{display:inline-block;padding:5px 10px;}
footer p.smaller{font-size:90%;}
footer a.terms{font-size:80%;color:#fff;}

#termsText {display:none; font-size: 14px;text-align: left;color: #efefef;}

/********Media queries**********/

@media screen and (max-width: 480px){
	#logo{padding:15px 20px 15px 10em;left:-7em;}
    #wrap_inner,#inner{width:98%;}
	h1{font-size:7em;}
	span.h1span {font-size: 0.48em;}
	.howto{height:500px; background:url("img/howto_v.png")bottom center no-repeat;background-size:auto;}
}
@media screen and (max-width: 800px){
	#logo{padding:15px 20px 15px 10em;left:-7em;}
	.howto{background-size:contain;}
	#wrap_inner,#inner{width:98%;}
}

/********Registration modal**********/
#modal2 {
	width:400px;
	background: #FFF;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#modal2 .header {
	background: #DDD;
	border-bottom: 1px solid #CCCCCC;
	padding: 18px 18px 14px;
}

#modal2 .header h3 {
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#modal2 form {
	padding: 10px 0;
}

#modal2 .txt {
	padding: 10px 20px;
}

#modal2 .txt input {
	width: 220px;
	height: 16px;
	padding: 5px;
	border: 1px solid #CCC;
}

#modal2 .txt label {
	float: left;
	width: 120px;
	line-height: 28px;
	font-size: 13px;
}

#modal2 .btn {
	padding: 10px 20px 10px 140px;
}

#modal2 .btn a {
	float: left;
	padding: 0 20px;
	line-height: 28px;
	background: #049CDB;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	color: #FFF;
	margin: 0 10px 0 0;
	border: none;
}

#modal2 .btn a.cancel {
	background: #DDDDDD;
	box-shadow: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}